<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Cliente</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<style>
body {
	background-color: #f8f9fa;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.form-container {
	background-color: #ffffff;
	border: 2px solid #17a2b8;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 100%;
	max-width: 500px;
}

h1 {
	text-align: center;
	color: #17a2b8;
}

.navbar {
	width: 100%;
	margin-bottom: 20px;
}

.nav {
	justify-content: flex-start;
}
</style>
</head>
<body>
	 <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
            
            <!-- Opciones -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a th:href="@{/views/cliente}" class="nav-link active" aria-current="page">Cliente</a></li>
                    <li class="nav-item"><a th:href="@{/views/cliente/create}" class="nav-link">Crear Cliente</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Vista Empleado</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Registrar Empleado</a></li>
                </ul>
            </div>
        </div>
    </nav>

	<!-- Formulario centrado  falta minuto1:30 -->
	<div class="form-container">
		<h1>Editar Cliente</h1>
		<p class="text-muted">Estás modificando el cliente de ID: <strong th:text="${cliente.id}"></strong></p>
		<form th:action="@{/views/cliente/save}" method="post">
		<input type="hidden" name="id" th:value="${cliente.id}">
			<div class="mb-3">
				<label class="form-label">Paterno</label> <input type="text"
					name="paterno" class="form-control" th:value="${cliente.paterno}">
			</div>
			<div class="mb-3">
				<label class="form-label">Materno</label> <input type="text"
					name="materno" class="form-control" th:value="${cliente.materno}">
			</div>
			<div class="mb-3">
				<label class="form-label">Nombres</label> <input type="text"
					name="nombres" class="form-control" th:value="${cliente.nombres}">
			</div>
			<div class="mb-3">
				<label class="form-label">DNI</label> <input type="text" name="dni"
					class="form-control" th:value="${cliente.dni}">
			</div>
			<div class="mb-3">
				<label class="form-label">Ciudad</label> <input type="text"
					name="ciudad" class="form-control" th:value="${cliente.ciudad}">
			</div>
			<div class="mb-3">
				<label class="form-label">Correo</label> <input type="text"
					name="email" class="form-control" th:value="${cliente.email}">
			</div>
			<label class="form-label">Estado</label>
			<select class="form-select" aria-label="Default select example" name="estado">				
				<option th:if="${cliente.estado == true}" value="true">ACTIVO</option>
				<option th:unless="${cliente.estado == false}" value="false">INACTIVO</option>	
				<option th:if="${cliente.estado == false}" value="true">INACTIVO</option>
				<option th:unless="${cliente.estado == true}" value="true">ACTIVO</option>			
			</select>
			<button type="submit" class="btn btn-success">Guardar</button>			
			<button  class="btn btn-danger" th:href="@{/views/cliente}" >Cancelar</button>
		</form>
	</div>
</body>
</html>
<<!-- MINUTO 1.54 -->
