<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Cliente</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/miestilo.css}">
</head>
<body>
	<header th:replace="home::header"></header>
	
	<div class="container d-flex justify-content-center align-items-center">
	<div class="container">
		<h2 class="text-center mb-4">Lista de Clientes</h2>
		
		<button  type="button" class="btn btn-info"><a th:href="@{/views/cliente/create}"
						class="nav-link"> Agregar Cliente</a></button>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Paterno</th>
					<th scope="col">Materno</th>
					<th scope="col">Nombre</th>
					<th scope="col">DNI</th>
					<th scope="col">Ciudad</th>
					<th scope="col">Correo</th>
					<th scope="col">Estado</th>
					<td scope="col">Acción</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c:${clientes}">
					<td th:text="${c.id}"></td>
					<td th:text="${c.paterno}"></td>
					<td th:text="${c.materno}"></td>
					<td th:text="${c.nombres}"></td>
					<td th:text="${c.dni}"></td>
					<td th:text="${c.ciudad}"></td>
					<td th:text="${c.email}"></td>
					<td th:text="${c.estado} ? 'ACTIVO' : 'INACTIVO'"></td>
					<td><a th:href="@{/views/cliente/edit/{id}(id=${c.id})}"
						class="btn btn-warning">Editar</a> <a
						th:href="@{/views/cliente/delete/{id}(id=${c.id})}"
						class="btn btn-danger">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	<footer th:replace="home::footer"></footer>
</body>
</html>
