<!DOCTYPE html>
<html>
<head >
<meta charset="UTF-8">
<title>cuentas</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/miestilo.css}">
</head>
<body>
	<header th:replace="home::header"></header>
	<div class="container d-flex justify-content-center align-items-center">
		<div class="form-container text-center">
			<h1>BIENVENIDO A LA PÁGINA DE CUENTAS</h1>
			<p class="text-muted">Gestiona tus cuentas de manera eficiente y
				rápida.</p>
		</div>
	</div>

	
	<footer th:replace="home::footer"></footer>
	
</body>
</html>