<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Error 404</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/miestilo.css}">
</head>
<body>
	<header th:replace="home::header"></header>
	<div class="container text-center">
		<div class="panel bg-light">
			<h3>
				<span th:text="${error}"> </span> <span th:text=${status}> </span>
			</h3>
		</div>
		<div class="panel-body">
			<img th:src="@{/imagenes/error.png}" width="60" height="60">
		</div>
	</div>
	<footer th:replace="home::footer"></footer>

</body>
</html>